.detail-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.detail-container:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.languages-container {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.languages-container:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.text {
  font-weight: bold;
}
